<h3>Tasks</h3>

<div>
    {{#each data}}
        <h3>#{{this.id}}</h3>
        <h2>{{this.title}}</h2>
        <h2>{{this.description}}</h2>
        <a href="/tasks/{{this.id}}">Ver task</a>
        <hr />
    {{/each}}
</div>