<h2>Cadastrar tasks</h2>

<form action="/create/task" method="POST">

    <input type="text" name="title" />
    <br />
    <input type="text" name="description" />
    <br />
    <input type="text" name="done" />
    <br />

    <input type="submit" value="Cadastrar" />
</form>
